.title {
    font-weight: 800;
    font-size: 5rem;
}

.subtitle {
    font-size: 2rem;
}

.is-sparta {
    color: #e8344e !important;
}

.button.is-sparta {
    background-color: #e8344e;
    border-color: transparent;
    color: #fff !important;
}

.button.is-sparta.is-outlined {
    background-color: transparent;
    border-color: #e8344e;
    color: #e8344e !important;
}

.help {
    color: gray;
}

.login-main {
    height: 100%;
    display: flex;
}

.login-pic {
    background-image: url("/static/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 50%;
    height: auto;
}

.login-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}

.login-form {
    width: 450px;
}