{% extends "layout.html" %}
{% block content %}
    <div id="main" class="container">
        <div class="search-header">
            <input id="search-bar" class="input search__input" type="search" placeholder="검색어를 입력해주세요">
            <button class="button is-sparta" onclick="find_food()"><i class="fad fa-search"></i></button>
        </div>
        <div class="main__inner">
            <div class="main__inner-left">
                {# list > 검색을 안 했으면 게시글(포스트) 중 최신 순 20개, 검색을 했으면 검색된 최신 순 20개 #}
                {% for post in list %}
                    {#
                        thumbs_by_me 는 사용자가 해당 게시물에 좋아요를 눌렀었는지를 판단하여 boolean값을 갖고
                        그것을 통해 fas(두꺼운 엄지, 좋아요 된 상태) far(얇은 엄지, 좋아요 취소된 상태)로 만들어준다
                     #}
                    {% if post.thumbs_by_me %}
                        {% set class_thumbs = "fas" %}
                    {% else %}
                        {% set class_thumbs = "far" %}
                    {% endif %}
                    {# 게시글이 카드형태로 달리는 데 그 카드의 내용을 전부 감싸는 div태크에 id를 문자열로 변환한 _id로 부여한다. 게시글에 라벨링 #}
                    <div id="{{ post._id }}" class="main__card">
                    {#이 밑으로는 유저의 닉네임이나 프로필 사진, 먹은 음식(post_title), 음식 사진, 날짜, 좋아요 버튼, 좋아요 숫자 등을 jinja2를 통해 서버에서 가져와 반복문으로 뿌려준다#}
                        <figure class="main__card-image">
                            <img
                                src="static/{{ post.post_pic_real }}"
                                alt="{{ post.post_pic }}"
                            >
                        </figure>
                        <div class="main__card-content card-content">
                            <figure class="card-content__user-profile">
                                <a href="/user/{{ post.username }}">
                                    <img
                                        src="static/{{ post.profile_pic_real }}"
                                        alt="Placeholder image"
                                        class="card-content__user-profile-image"
                                    >
                                </a>
                            </figure>
                            <div class="card-content__description card-description">
                                <div class="card-description__user">
                                    <a
                                        href="/user/{{ post.username }}"
                                        class="user-description__nick"
                                    >
                                        {{ post.profile_name }}
                                    </a>
                                    <a
                                        href="/?food_give={{ post.post_title }}"
                                        class="user-description__food-name"
                                    >
                                        @{{ post.post_title }}
                                    </a>
                                </div>

                                <div class="card-content__post-info">
                                    <div class="card-content__post-comment">
                                        {{ post.post_comment }}
                                    </div>
                                    <div class="card-content__date-time">
                                        <time datetime="2016-1-1">{{ post.post_day }}</time>
                                        <nav class="level is-mobile">
                                            <div class="level-left">
                                                {#좋아요 아이콘(우리는 엄지)를 a태그로 감싸고 거기에 onclick함수를 줬으며 위에 있던 게시글의 라벨링한  _id와 좋아요 타입인 thumbs를 매개변수로 넘겨준다#}
                                                <a class="level-item is-sparta" aria-label="thumbs" onclick="toggle_like('{{ post._id }}', 'thumbs')">
                                                    {#class_thumbs 부분을 jinja2로 받아오기 때문에 클릭할 때 마다 변경이 가능하다#}
                                                    <span class="icon is-small">
                                                        <i
                                                            class="{{ class_thumbs }} fa-thumbs-up"
                                                            aria-hidden="true"
                                                        >
                                                        </i>
                                                    </span>
                                                    {#좋아요가 얼마나 눌렸는지도 서버를 통해 받아오고 후에 좋아요가 눌렸을 경우 toggle_like()함수의 ajax요청을 통해 갱신도 해준다#}
                                                    <span class="like-num">{{ post.count_thumbs }}</span>

                                                </a>
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="main__inner-right">
                <div id="main__navigator">
                    <div class="main__profile-wrapper">
                        <a href="/user/{{ user_info.username }}" class="">
                            <img src="static/{{ user_info.profile_pic_real }}"
                                 alt="default-image"
                                 class="image main__profile-image"
                            >
                        </a>
                        <div>
                            <a
                                href="/user/{{ user_info.username }}"
                                class="has-text-black-bis"
                            >
                                <strong>{{ user_info.profile_name }}</strong>
                            </a>
                            <p class="has-text-grey-lighter">{{ user_info.profile_info }}</p>
                        </div>
                    </div>
                    <div class="main__recommend recommend">
                        <p class="recommend__title">
                            추천 사용자
                        </p>
                        <ul class="recommend__list">
                            {#추천 사용자도 마찬가지로 서버로부터 받아와 포스팅해준다. 이는 users db에서 무작위로 가져온 3개#}
                            {% for user in rec_user %}
                                <li class="recommend__user">
                                    <a href="/user/{{ user.username }}">
                                        <img
                                            src="static/{{ user.profile_pic_real }}"
                                            alt="default-image"
                                            class="profile__image profile__image--small"
                                        >
                                    </a>
                                    <a href="/user/{{ user.username }}">{{ user.profile_name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {# 포스팅하기 버튼 요소 #}
                <div class="posting-button">
                    <img
                        src="/static/posting-button.svg"
                        id="posting-icon"
                        alt="posting-image"
                        {# 이미지 클릭 시 모달에 클래스 추가 #}
                        onclick='$("#modal-post").addClass("is-active")'
                    >
                </div>
            </div>
        </div>
        <div class="modal" id="modal-post">
            {# 모달 배경화면 클릭시 클래스 제거 => 모달 기능 비활성화 #}
            <div class="modal-background" onclick='$("#modal-post").removeClass("is-active")'></div>
            <div class="modal-content">
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <div class="field">
                                <p class="control">
                                <div class="field">
                                    <label class="label" for="input-pic">오늘은 무엇을 드셨나요?</label>
                                    <div class="control is-expanded">
                                        {# 파일 첨부 엘리멘트 #}
                                        <div class="file has-name">
                                            <label class="file-label" style="width:100%">
                                                <input
                                                    id="input-pic"
                                                    class="file-input"
                                                    type="file"
                                                    accept=".png, .jpg, image/png, image/jpg"
                                                    name="resume"
                                                    onchange="validateExtension(event)"
                                                >
                                                {# 파일 선택 엘리멘트 #}
                                                <span class="file-cta">
                                                    <span class="file-icon"><i class="fa fa-upload"></i></span>
                                                    <span class="file-label">파일 선택</span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">방문날짜</label>
                                    {# 방문 날짜 엘리멘트 #}
                                    <input class="input is-danger" id="day-post" type="date">
                                </div>
                                <div class="field">
                                    <label class="label">먹은메뉴</label>
                                    {# 먹은 메뉴 엘리멘트 #}
                                    <input
                                        class="input is-danger"
                                        id="title-post"
                                        type="text"
                                        placeholder="ex) 김치찌개"
                                    >
                                </div>
                                <div class="field">
                                    <label class="label">한줄 코멘트</label>
                                    {# 한줄 코멘트 엘리멘트 #}
                                    <textarea
                                        id="comment-post"
                                        class="textarea is-danger"
                                        placeholder="ex) 오랜만에 먹었더니 맛이 새로웠다."
                                    >
                                    </textarea>
                                </div>
                                </p>
                            </div>
                            <nav class="level is-mobile">
                                <div class="level-right">
                                    <div class="level-item">
                                        {# 포스팅 엘리멘트 #}
                                        <a class="button is-sparta" onclick="post()">포스팅하기</a>
                                    </div>
                                    <div class="level-item">
                                        {# 취소 버튼 엘리멘트 #}
                                        <a class="button is-sparta is-outlined"
                                           onclick='$("#modal-post").removeClass("is-active")'
                                        >
                                            취소
                                        </a>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </article>
                </div>
            </div>
            {# 모달 닫기 버튼 엘리멘트 #}
            <button
                class="modal-close is-large"
                aria-label="close"
                {# 클릭시 모달 클래스 삭제, 모달 비활성화 #}
                onclick='$("#modal-post").removeClass("is-active")'
            >
            </button>
        </div>
    </div>
{% endblock %}
