{% extends "layout.html" %}
{% block content %}
    <div id="main" class="container">
        <div class="search-header">
            <input id="search-bar" class="input search__input" type="search" placeholder="검색어를 입력해주세요">
            <button class="button is-sparta" onclick="find_food()"><i class="fad fa-search"></i></button>
        </div>
        <div class="main__inner">
            <div class="main__inner-left">
                {% for post in list %}
                <div class="main__card">
                    <figure class="main__card-image">
                        <img src="static/{{ post.post_pic_real }}"
                             alt="{{ post.post_pic }}"
                        >
                    </figure>
                    <div class="main__card-content card-content">
                        <figure class="card-content__user-profile">
                            <a href="/user/{{ post.username }}">
                                <img src="static/{{ post.profile_pic_real }}"
                                     alt="Placeholder image"
                                     class="card-content__user-profile-image"
                                >
                            </a>
                        </figure>
                        <div class="card-content__description card-description">
                            <div class="card-description__user">
                                <a
                                    href="/user/{{ post.username }}"
                                    class="user-description__nick"
                                >
                                    {{ post.profile_name }}
                                </a>
                                <a
                                    href="/?food_give={{ post.post_title }}"
                                    class="user-description__food-name"
                                >
                                    @{{ post.post_title }}
                                </a>
                            </div>

                            <div class="card-content__post-info">
                                <div class="card-content__post-comment">
                                    {{ post.post_comment }}
                                </div>
                                <div class="card-content__date-time">
                                    <time datetime="2016-1-1">{{ post.post_day }}</time>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="main__inner-right">
                <div id="main__navigator">
                    <div class="main__profile-wrapper">
                        <a href="/user/{{ user_info.username }}" class="">
                            <img src="static/{{ user_info.profile_pic_real }}"
                                 alt="default-image"
                                 class="image main__profile-image"
                            >
                        </a>
                        <div>
                            <a href="/user/{{ user_info.username }}" class="has-text-black-bis"><strong>{{
                                user_info.profile_name }}</strong></a>
                            <p class="has-text-grey-lighter">{{ user_info.profile_info }}</p>
                        </div>
                    </div>
                    <div class="main__recommend recommend">
                        <p class="recommend__title">
                            추천 사용자
                        </p>
                        <ul class="recommend__list">
                            {% for user in rec_user %}
                                <li class="recommend__user">
                                    <a href="/user/{{ user.username }}">
                                        <img src="static/{{ user.profile_pic_real }}" alt="default-image"
                                             class="profile__image profile__image--small">
                                    </a>
                                    <a href="/user/{{ user.username }}">{{ user.profile_name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="posting-button">
                    <img
                        src="/static/posting-button.svg"
                        id="posting-icon"
                        alt="posting-image"
                        onclick='$("#modal-post").addClass("is-active")'
                    >
                </div>
            </div>
        </div>
        <div class="modal" id="modal-post">
            <div class="modal-background" onclick='$("#modal-post").removeClass("is-active")'></div>
            <div class="modal-content">
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <div class="field">
                                <p class="control">
                                <div class="field">
                                    <label class="label" for="input-pic">오늘은 무엇을 드셨나요?</label>
                                    <div class="control is-expanded">
                                        <div class="file has-name">
                                            <label class="file-label" style="width:100%">
                                                <input
                                                    id="input-pic"
                                                    class="file-input"
                                                    type="file"
                                                    accept=".png, .jpg, image/png, image/jpg"
                                                    name="resume"
                                                    onchange="validateExtension(event)"
                                                >
                                                <span class="file-cta">
                                                    <span class="file-icon"><i class="fa fa-upload"></i></span>
                                                    <span class="file-label">파일 선택</span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">방문날짜</label>
                                    <input class="input is-danger" id="day-post" type="date">
                                </div>
                                <div class="field">
                                    <label class="label">먹은메뉴</label>
                                    <input class="input is-danger" id="title-post" type="text"
                                           placeholder="ex) 김치찌개">
                                </div>
                                <div class="field">
                                    <label class="label">한줄 코멘트</label>
                                    <textarea id="comment-post" class="textarea is-danger"
                                              placeholder="ex) 오랜만에 먹었더니 맛이 새로웠다."></textarea>
                                </div>
                                </p>
                            </div>
                            <nav class="level is-mobile">
                                <div class="level-left">

                                </div>
                                <div class="level-right">
                                    <div class="level-item">
                                        <a class="button is-sparta" onclick="post()">포스팅하기</a>
                                    </div>
                                    <div class="level-item">
                                        <a class="button is-sparta is-outlined"
                                           onclick='$("#modal-post").removeClass("is-active")'>취소</a>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </article>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close"
                    onclick='$("#modal-post").removeClass("is-active")'></button>
        </div>
    </div>
{% endblock %}
