<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- needed to add favicon and og tags -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://kit.fontawesome.com/d755ebaf85.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <section class="hero is-medium is-danger">
        <div class="hero-head">
            <nav class="layout__nav">
                <div class="container">
                    <div id="navbarMenuHeroB" class="navbar-menu">
                        <div class="navbar-end">
                            <button class="navbar-item logout-button">
                                로그아웃
                            </button>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title"><a href="/">뭐먹었니?</a></h1>
                <h3 class="subtitle">내가 먹은 음식의 모든 것</h3>
            </div>
        </div>
    </section>

    {%block content%}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
