{% extends "layout.html" %}
{% block content %}
<main class="user">
    <article class="media profile">
            <figure class="media-left profile__left">
                <img class="profile__image" src="/static/{{user_info['profile_pic_real']}}">
            </figure>
            <div class="media-content profile__right">
                <div class="profile__description">
                    <div class="profile__description__inner">
                        <div>
                            <span class="profile__user-id">{{user_info.username}}</span>
                            <span class="profile__user-nick">@{{user_info['profile_name']}}</span>
                        </div>
                        <div>
                            <span class="profile__user-about">{{user_info['profile_info']}}</span>
                            {% if status %}
                                <span
                                    class="profile__navigation"
                                    onclick="$('#setting').addClass('is-active')"
                                >
                                    <i class="fas fa-cog"></i>
                                </span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% if status %}
            <div id="setting" class="modal user__setting">
                <div class="modal-background" onclick="$('#setting').removeClass('is-active')"></div>
                <div class="setting__wrapper modal-content">
                    <div class="setting__form">
                        <div class="setting__field">
                            <label class="label" for="setting__nick">닉네임</label>
                            <div class="control setting__control">
                                <input id="setting__nick"
                                       class="input"
                                       type="text"
                                       name="nick_give"
                                >
                            </div>
                        </div>
                        <div class="setting__field">
                            <label class="label" for="setting__profile-picture">프로필 사진</label>
                            <div class="control setting__control">
                                <input id="setting__profile-picture"
                                       class="input"
                                       type="file"
                                       name="file_give"
                                       accept=".png, .jpg, image/png, image/jpg"
                                       onchange="validateExtension(event)"
                                >
                            </div>
                        </div>
                        <div class="setting__field">
                            <label class="label" for="setting__profile-picture">소개</label>
                            <div class="control setting__control">
                                <input id="setting__info"
                                       class="input"
                                       type="text"
                                       name="about_give"
                                >
                            </div>
                        </div>
                        <div class="field setting__field is-grouped">
                            <div class="setting__buttons">
                                <button class="button setting__delete is-danger"
                                        onclick="deleteAccount('{{user_info.username}}')"
                                >
                                    탈퇴하기
                                </button>
                                <button
                                    class="button setting__save-button is-primary"
                                    onclick="modifyUserInformation('{{user_info.username}}')"
                                >
                                    제출하기
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
                <div
                        class="modal-close setting__close-button"
                        onclick="$('#setting').removeClass('is-active')"
                ></div>
            </div>
            {% endif %}
    </article>
    <section class="user__post">
        <div class="user__post-container">
            {% for post in posts_info %}
                <div class="user__post-card card">
                    <div class="card-image">
                    <img src="/static/{{post['post_pic_real']}}" alt="Placeholder image" class="post__image">
                    </div>
                    <nav class="user__post-info level is-mobile" onclick="openPost('{{post._id}}')">
                        <div class="level-item has-text-centered">
                            <div>
                                <p>
                                    <span class="icon is-medium post__heart-icon">
                                        <i class="fa fa-heart" aria-hidden="true"></i>
                                    </span>
                                </p>
                                <p>{{ post.count_thumbs }}</p>
                            </div>
                        </div>
                    </nav>
                </div>
            {% endfor %}
        </div>
    </section>
</main>
<script src="{{ url_for('static', filename='user.js') }}"></script>
{% endblock %}